mc-login-page {
  .mc-login-page-body {
    .mc-login-page-title {
      text-align: center;
    }

    .mc-login-page-credentials {
      padding: 2rem;
      display: flex;
      flex-direction: column;
    }
  }
}
