<div class="mc-login-page-body">
  <h3 class="mc-login-page-title">MadGathering</h3>
  <div class="mc-login-page-credentials card">
    <ng-container [ngSwitch]="currentNavigation">
      <form *ngSwitchCase="Navigation.Login" [formGroup]="loginFormGroup">
        <input formControlName="username" placeholder="Username" />
        <input formControlName="password" placeholder="Password" type="password" />
        <div class="mc-login-page-buttons">
          <button class="btn waves-effect waves-light" (click)="onLogin()">
            Login
          </button>
          <button class="btn waves-effect waves-light" (click)="onNavigateToRegistration()">
            Sign Up
          </button>
        </div>
        <a class="waves-effect waves-teal btn-flat" (click)="onNavigateToForgot()">Forgot your password?</a>
      </form>
      <form *ngSwitchCase="Navigation.Register" [formGroup]="signupFormGroup">
        <input formControlName="name" placeholder="Name" />
        <input formControlName="email" placeholder="Email" />
        <input formControlName="username" placeholder="Username" />
        <input formControlName="password" placeholder="Password" type="password" />
        <div class="mc-login-page-register-container">
          <button class="btn waves-effect waves-light" (click)="onRegister()">
            Register
          </button>
        </div>
        <a class="waves-effect waves-teal btn-flat" (click)="onNavigateToLogin()">Already registered? Login</a>
      </form>
      <form *ngSwitchCase="Navigation.Forgot" [formGroup]="forgotFormGroup">
        <input formControlName="email" placeholder="Email" />
        <div class="mc-login-page-register-container">
          <button class="btn waves-effect waves-light" (click)="onResetPassword()">
            Reset My Password
          </button>
        </div>
        <a class="waves-effect waves-teal btn-flat" (click)="onNavigateToLogin()">Remembered password? Login</a>
      </form>
    </ng-container>
  </div>
</div>
<!-- <div class="progress">
  <div class="indeterminate"></div>
</div>
<div class="preloader-wrapper big active">
  <div class="spinner-layer spinner-blue-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div> -->
